@font-face {
  font-family: "AvantGardeCTT";
  font-weight: normal;
  font-style: normal;
  src: url("https://github.com/NataliaRyshkova/JAZZ/blob/master/fonts/AVG45_.TTF")
      format("truetype")
}

@font-face {
  font-family: "BernhardFashion BT";
  font-weight: normal;
  font-style: normal;
  src: url("https://github.com/NataliaRyshkova/JAZZ/blob/master/fonts/BernFash.ttf")
      format("truetype")
}

@font-face {
  font-family: "Thiamine";
  font-weight: normal;
  font-style: normal;
  src: url("https://github.com/NataliaRyshkova/JAZZ/blob/master/fonts/thiamine.ttf")
      format("truetype")
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  box-sizing: border-box;
}

  a {
    text-decoration: none;
  }

  .section-welcome {
    background-image: url("https://github.com/NataliaRyshkova/JAZZ/blob/master/img/interior1.jpg?raw=true");
    background-size: cover;
    font-family: "AvantGardeCTT";
    height: 900px;
    }

  .container__welcome {
    display: flex;
    flex-wrap: wrap; 
    padding: 105px 8.33vw 150px 8.33vw;
  }

.grid__welcome:nth-child(odd) {
  display: flex;
  width: 40%;
}

.grid__welcome:nth-child(even) {
  display: flex;
  width: 60%;
}

.wrapper {
  align-items: center;
  justify-content: center;
}

.pagination {
  padding: 0 0 0 12px;
  margin: 0;
}

.pagination__item {
  margin: 0 0 28px 0;
}

.pagination__link {
  position: relative;
  text-indent: -99em;
  overflow: hiddin;
  display: block;
  width: 38px;
  height: 38px;
}

.pagination__link:before, .pagination__link:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
 width: 38px;
  height: 38px;
  border-radius: 40%;
  border: 4px solid #ffffff;
  box-sizing: border-box;
}
.pagination__link:hover:after {
  transform: scale(1.1);
}

.pagination__link.is_active:before {
  transform: scale(0.8);
  background-color: #ffffff;
}
.pagination__link.is_active:after {
  transform: scale(0.8);
}

li {
  list-style-type: none;
}

.logo {
  display: flex;
  position: relative;
}

.logo_first {
  height: 237px;
  padding: 0 12px 0 0 ;
}

.block-slogan {
  position: absolute;
  color: #ffffff;
  margin: 90px 0 0 185px;
  letter-spacing: 2px;
  font-size: 23px;
  word-spacing: 3px;
}

.menu {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
}

.menu svg {
  width: 54px;
}

.reserve-button {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  padding: 15px 0 0 0 ;
}

.reserve-button a {
  box-sizing: border-box;
  font-size: 24px;
  width: 48.26vw;
  height: 74px;
  font-size: 18px;
  color: white;
  text-align: center;
  padding: 25px 0 0 0 ;
  border: 3px solid #A1883B;
  letter-spacing: 2px;
}

.reserve-button a:hover {
  background-color: rgba(161, 136, 59, 0.3);
  
}
